body {
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
  /*font: 10px/2 'Trebuchet MS', Verdana, sans-serif;*/
}
h1, h2, h3, h4, h5, h6 {
	color: #4e5f6e;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 20px;
  margin-top: 10px;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
	color: #808080;
}
h3 {
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #888;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 14px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 14px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 14px;
	border-radius: 0;
}
.input-group .input-group-addon {
	font-size: 14px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

/*-------------------------------------------- Gradent to all drop down menus ---------------------------------------------------------------*/
.dropdown-menu ul li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #f5f5f5;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
}
/* ---------------------------------------------------------------------top------------------------------------------------------------------ */
#top {
	/*background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;*/
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	/*color: #3b92c8;*/
	/*text-shadow: 0 1px 0 #FFF;*/
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	/*color: #444;*/
	color: #7fa411;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
.phone{
	color: #4e5f6e;
	font-size: 22px;
}
.fa.fa-phone {
  font-size: 20px;
}
#top a,#top span{
	font-size: 14px;
}
.top_search {
  margin-top: 10px;
}
.btn.btn-link.dropdown-toggle > img {
  margin-top: -3px;
}
.i_phone {
  color: #7fa411;
  display: inline-block;
  margin-top: 10px;
}

/* --------------------------------------------------------------logo------------------------------------------------------------------------ */
header{
	margin: 10px 0;
}
#logo {
	margin: 0 0 10px 0;
}
#logo a img{
	/*height: 60px;
	width: 350px;*/
}
.slogan {
  display: block;
  font-size: 22px;
  color: #4e5f6e;
  margin: 12px 0;
}
.special_for_sky{
	background: url(/image/catalog/header-sky.jpg) no-repeat;
	background-size: cover;
}
/* ------------------------------------------------------------search-------------------------------------------------------------------------- */
#search {
	/*margin-bottom: 10px;*/
	width: 100%;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	/*text-shadow: 0 1px 0 #FFF;*/

}
.btn_search {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}
/* -------------------------------------------------------------------cart------------------------------------------------------------------- */
#cart {
	margin-bottom: 10px;
	background: #9AB63A;
}
.basket{
	border: none;
	background: none;
}
.basket .fa-shopping-cart{

}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
	border: medium none;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* -----------------------------------------------------------menu------------------------------------------------------------------------------- */
#menu {
	/*background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;*/
	/*min-height: 40px;*/
	/*background: #ccc;*/
	border: none;
	margin: 0 auto;
}
#menu .nav > li > a {
	color: #fff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	padding: 15px 15px 15px 15px;
	/*min-height: 15px;*/
	font-size: 16px;
	/*background-color: transparent;*/
}
#menu .nav > li{
	background: #345325;
	display: table-cell;
	float: none;
	vertical-align: middle;
	border: 1px solid white;
	border-radius: 5px 5px 0 0;
	/*display: inline-block;*/
}
#menu .nav > li:first-child{
	background: #DD397B;
}
#menu .nav > li:nth-child(2){
	background: #73cced;
}
#menu .nav > li:nth-child(3){
	background: #F4A74A;
}
#menu .nav > li:nth-child(4){
	background: #479e65;
}
#menu .nav > li:nth-child(5){
	background: #EA8255;
}
#menu .nav > li:nth-child(6){
	background: #9B6CF3;
}
#menu .nav > li:nth-child(7){
	background: #a9294a;
}
#menu .nav > li:nth-child(8){
	background: #EA8255;
}
#menu .nav > li:nth-child(9){
	background: #F4A74A;
}
#menu .nav > li:nth-child(10){
	background: #A8C44E;
}
#menu .nav {
	/*border-spacing: 3px 0px;*/
	width: 100%;
	text-align: center;
	display: table;
	/*margin: 0 0 0 -15px;*/
}
.navbar-collapse{
	padding: 0;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 5px 20px;
	clear: both;
	line-height: 20px;
	color: #777777;
	font-size: 14px;
}
#menu .dropdown-inner li a:hover {
	color: #000;
}
/*#menu .navbar-nav:first-child a:hover{
	background: #ccc;
}*/
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 7px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 14px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu .nav > li:first-child .see-all:hover{
	background: #DD397B;
}
#menu .nav > li:nth-child(2) .see-all:hover{
	background: #EA8255;
}
#menu .nav > li:nth-child(3) .see-all:hover{
	background: #F4A74A;
}
#menu .nav > li:nth-child(4) .see-all:hover{
	background: #A8C44E;
}
#menu .nav > li:nth-child(5) .see-all:hover{
	background: #65BEDF;
}
#menu .nav > li:nth-child(6) .see-all:hover{
	background: #4EA6C9;
}
#menu .nav > li:nth-child(7) .see-all:hover{
	background: #DD397B;
}
#menu .nav > li:nth-child(8) .see-all:hover{
	background: #EA8255;
}
#menu .nav > li:nth-child(9) .see-all:hover{
	background: #F4A74A;
}
#menu .nav > li:nth-child(10) .see-all:hover{
	background: #A8C44E;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
/*	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color:  #9ab63a;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
	border-color: #9ab63a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #9ab63a;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
	#menu .nav > li{
		display: block;
	}
}
/* ------------------------------------------------------------content------------------------------------------------------------------ */
#content {
	/*min-height: 600px;*/
}


/*--------------------------------------------------------------------Хиты продаж--------------------------------------------------------*/

#column-right > h3{
	margin-top: 22px;
	text-transform: uppercase;
	color: #a8c44e;
	text-align: center;
}




/*********************************----------------******Последние---------------------------------------------------------------------------*/
#latest{
	text-transform: uppercase;
	margin: 10px 0 25px;
	overflow: hidden;
}
#latest::before {
  left: -2em;
  margin: 0 0 0 -50%;
}
#latest::before,  #latest::after {
  background: #b8b8b8 none repeat scroll 0 0 padding-box content-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
#latest::after {
  left: 2em;
  margin: 0 -50% 0 0;
}


/*----------------------------------------------------------Рекомендуемые--------------------------------------------------------------------*/
#recommended{
	text-transform: uppercase;
	margin: 10px 0 25px;
	overflow: hidden;
}
#recommended::before {
  left: -2em;
  margin: 0 0 0 -50%;
}
#recommended::before,  #recommended::after {
  background: #b8b8b8 none repeat scroll 0 0 padding-box content-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
#recommended::after {
  left: 2em;
  margin: 0 -50% 0 0;
}

/*------------------------------------------------------------------Товары со скидкой******----------------------------------------------*/

#discont{
	text-transform: uppercase;
	margin: 10px 0 25px;
	overflow: hidden;
}
#discont::before {
  left: -2em;
  margin: 0 0 0 -50%;
}
#discont::before,  #discont::after {
  background: #b8b8b8 none repeat scroll 0 0 padding-box content-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
#discont::after {
  left: 2em;
  margin: 0 -50% 0 0;
}
/* ----------------------------------------------------------------------footer------------------------------------------------------------------ */
footer {
	margin-top: 60px;
	padding-top: 30px;
	background-color: #303030;
	/*border-top: 1px solid #ddd;*/
	/*color: #e2e2e2;*/
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #4e5f6e;
	font-size: 12px;
}
footer a:hover {
	color: #000;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #808080;
}
footer::before {
  background: rgba(0, 0, 0, 0) url("/image/catalog/footer-sky.png") no-repeat scroll center center;
  bottom: 100%;
  content: "";
  height: 65px;
  position: absolute;
  width: 100%;
}
footer{
	position: relative;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(238, 247, 255, 1) 0%, rgba(249, 252, 255, 1) 100%) repeat scroll 0 0;
}
/* ---------------------------------------------------------------------alert---------------------------------------------------------------- */
.alert {
	padding: 8px 14px 8px 14px;
}
/* ----------------------------------------------------------------breadcrumb-------------------------------------------------------------------- */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	/*border: 1px solid #ddd;*/
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-radius: 0;
}
.breadcrumb i {
	font-size: 15px;
	color: #777;
}
.breadcrumb > li {
	/*text-shadow: 0 1px 0 #FFF;*/
	padding: 0 10px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li::after {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  right: -5px;
  top: 5px;
  transform: rotate(-45deg);
  width: 10px;
}
.breadcrumb > li:first-child::after {
  border-bottom: medium none;
  border-right: 1px solid #ddd;
  content: "";
  display: block;
  height: 18px;
  position: absolute;
  right: -5px;
  top: 0;
  transform: rotate(0deg);
  width: 10px;
}
.breadcrumb > li:first-child a {
  color: #ccc;
}
.breadcrumb > li a {
  color: #777;
  font-size: 14px;
}
.pagination {
	margin: 0;
}
/* ----------------------------------------------------buttons------------------------------------------------------------------------------ */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #fff;
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
	background-color: #a8c44e;
	/*background-image: linear-gradient(to bottom, #eeeeee, #dddddd);*/
	background-repeat: repeat-x;
	border-color: #a8c44e;
}
.btn-primary {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #a8c44e;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
	border-color: #a8c44e;
}
.btn-primary:hover, .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #DD397B;
	border-color: #DD397B;
	background-position: 0 -15px;
	color: #fff;
}
.btn-warning {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* -----------------------------------------------------------------list group-------------------------------------------------------------- */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
	font-size: 16px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	/*text-shadow: 0 1px 0 #FFF;*/
}
/* ------------------------------------------------------------carousel---------------------------------------------------------------------------- */
.carousel-caption {
	color: #FFFFFF;
	/*text-shadow: 0 1px 0 #000000;*/
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}

/* ---------------------------------------------------------------product list-------------------------------------------------------------- */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
	transition: all 0.5s ease 0s;
}
.product-thumb:hover{
	/*-webkit-box-shadow: 0px 0px 15px -5px rgba(0,150,255,0.91) ;
	box-shadow: 0px 0px 15px -5px rgba(0,150,255,0.91) ;*/
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(154, 182, 58, 0.6);

}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
	transition: all 0.5s ease 0s;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;

}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	/*font-weight: bold;*/
	font-size: 16px;
	text-align: center;
	min-height: 60px;
	margin: 5px;
	line-height: 20px;
}
.product-thumb h4 a{
	color: #808080;
	margin-top: 15px;
	display: block;
}
.product-thumb h4 a:hover{
	color: #4ea6c9;
}
.product-thumb .caption {
	padding: 0 20px;
	/*min-height: 180px;*/
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #ea8255;
	font-size: 22px;
	text-align: center;
	margin: 20px 0 0;
	font-weight: bold;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #808080;
	text-decoration: line-through;
	margin-left: 10px;
	font-weight: normal;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	/*border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;*/
	margin: 20px;
	text-align: center;
}
.button-group i {
  font-size: 16px;
  margin-right: 10px;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 100%;
	border: none;
	display: inline-block;
	/*float: left;*/
	background-color: #a8c44e;
	color: #fff;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #fff;
	background-color: #dd397b;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 100%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}






/*----------------------------------------------------------------------------------------------------------------------------------------------*/
.dropdown-toggle:hover{
	color: #7fa411;
}

.btn-group img{
	color: #3b92c8;
}
.list-inline i{
	color: #D2754C;
}
.dropdown-menu > li > a{
	color:#808080;
}
.nav.nav-tabs a {
  	font-size: 14px;
}
.sidebar {
  margin: 15px 0 0;
}
.tab-pane p{
	font-size: 16px;
}
.our-adress{
	text-align: left;
}
.img-thumbnail{
	border: 0;
}
.panel-body strong{
	margin-bottom: 10px;
	display: inline-block;
}
address{
	margin-bottom: 0;
}
.form-horizontal .control-label{
	font-size: 14px;
}
.dropdown-menu-right{
	left: 0;
	right: 0;
}
.text-filter{
	text-align: left;
}
.caret{
	color: #D2754C;
}
.form-control:focus{
	border-color: #a8c44e;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(154, 182, 58, 0.6);
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.product-list .button-group button{
	width: auto;
}
.product-list .product-thumb h4 {
	padding-top: 20px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
	   background-color: #a8c44e;
    border-color: #a8c44e;
}
.pagination > li > a, .pagination > li > span{
	color: #4e5f6e;
}
.panel-body{
	font-size: 16px;
}
.input-group-addon, .input-group-btn{
	width: auto;
}







/*-----------------------------------------------------------1200------------------------------------------------*/



@media screen and (max-width: 1199px) {

}








/********---------------------------------991-----------------------------------------------------------*/


@media screen and (max-width: 991px){

}






/**----------------------------------------------------767--------------------------------------------------*/

@media screen and (max-width: 767px)  {
	.navbar-header{
		/*background: #9B6CF3;*/
	}
	#menu .btn-navbar{
		width: 100%;
		margin: 0;
	}
	.navbar-nav{
		margin: 0;
	}
	#menu #category {
  color: #fff;
  float: none;
	line-height: 28px;
  /*position: absolute;*/
  /*z-index: 100;*/
	/*left: 44%;*/
	}

	.navbar-header button i{
		position: absolute;
		left: 15px;
		top: 8px;
	}
	.sidebar{
		display: none;
	}
}







/*-----------------------------------------------------------478-------------------------------------*/

@media screen and (max-width: 479px) {
	.lang-registr{
    width: 50%;
	}
	.curency-wish{
    width: 50%;
	}
	.cart-block{
		width: 100%;
	}
	.slogan {
  font-size: 18px;
  margin: 0 0 5px;
  text-align: center;
	}
	.list-inline{
		margin: 0;
	}
	#cart {
  	margin-bottom: 0px;
	}
	.phone {
  	font-size: 20px;
	}
	.i_phone {
	  margin-top: 0px;
	}
	.wrap-top{
		display: none;
	}
	#input-limit, #input-sort{
		width: 65%;
		float: right;
	}
	.control-label{
		float: left;
		margin-top: 10px;
	}
}
